In [11]:
import pandas as pd

In [19]:
soz1 = {"A":["a","b","c","d"],
       "B":["x","y","z","t"]}

In [20]:
tablo1 = pd.DataFrame(soz1)
tablo1

   A  B
0  a  x
1  b  y
2  c  z
3  d  t

In [22]:
soz2 = {"A":["a","b","c","d"],
       "C":["e","f","g","h"]}

In [23]:
tablo2 = pd.DataFrame(soz2)
tablo2

   A  C
0  a  e
1  b  f
2  c  g
3  d  h

In [25]:
tablo3 = pd.merge(tablo1,tablo2, on = "A")
tablo3

   A  B  C
0  a  x  e
1  b  y  f
2  c  z  g
3  d  t  h