In [1]:
import pandas as pd
import numpy as np

In [2]:
idx1 = ["A","A","A","B","B","B"]
idx2 = ["a","b","c","d","e","f"]

In [3]:
idxM = list(zip(idx1,idx2))
idxM

[('A', 'a'), ('A', 'b'), ('A', 'c'), ('B', 'd'), ('B', 'e'), ('B', 'f')]

In [4]:
idxM=pd.MultiIndex.from_tuples(idxM)

In [5]:
idxM

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('A', 'c'),
            ('B', 'd'),
            ('B', 'e'),
            ('B', 'f')],
           )

In [7]:
liste = [[1,10],[2,20],[3,30],[4,40],[5,50],[6,60]]

In [8]:
dizi = np.array(liste)
dizi

array([[ 1, 10],
       [ 2, 20],
       [ 3, 30],
       [ 4, 40],
       [ 5, 50],
       [ 6, 60]])

In [9]:
tablo = pd.DataFrame(dizi, index=idxM, columns= ["x","10x"])
tablo

     x  10x
A a  1   10
  b  2   20
  c  3   30
B d  4   40
  e  5   50
  f  6   60

In [13]:
tablo.loc["A"].loc["c"]

x       3
10x    30
Name: c, dtype: int32