In [1]:
# pandas kütüphanesi aslında Python'un excel'idir.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# dataframe = pd.DataFrame(data)

In [5]:
data = np.random.rand(5,4)*10

In [6]:
data

array([[2.8342377 , 1.84451902, 9.62896636, 7.5696969 ],
       [5.60395098, 4.04512599, 3.08430426, 1.15056901],
       [0.06338571, 5.41843561, 9.87558307, 9.05109333],
       [4.35756727, 4.85015881, 0.49022301, 4.0831985 ],
       [2.25152953, 2.6521245 , 3.59066524, 8.58994504]])

In [8]:
dataframe = pd.DataFrame(data)
dataframe

          0         1         2         3
0  2.834238  1.844519  9.628966  7.569697
1  5.603951  4.045126  3.084304  1.150569
2  0.063386  5.418436  9.875583  9.051093
3  4.357567  4.850159  0.490223  4.083199
4  2.251530  2.652125  3.590665  8.589945

In [9]:
## Bu bir dataframe örneğidir.

In [14]:
idx = ("a","b","c","d","e")
col = ("Y","A","S","İ")

In [15]:
dataframe2 = pd.DataFrame(data, index=idx, columns=col)

In [16]:
dataframe2

          Y         A         S         İ
a  2.834238  1.844519  9.628966  7.569697
b  5.603951  4.045126  3.084304  1.150569
c  0.063386  5.418436  9.875583  9.051093
d  4.357567  4.850159  0.490223  4.083199
e  2.251530  2.652125  3.590665  8.589945

In [20]:
dataframe2["S"] # Yalnızca girilen parametre döndürülür.

a    9.628966
b    3.084304
c    9.875583
d    0.490223
e    3.590665
Name: S, dtype: float64

In [21]:
dataframe2[["S","Y"]]

          S         Y
a  9.628966  2.834238
b  3.084304  5.603951
c  9.875583  0.063386
d  0.490223  4.357567
e  3.590665  2.251530